In [1]:
# Importation 
import datetime as dt
from datetime import date
import time as tm
import calendar
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt; plt.rcdefaults()
import matplotlib.pyplot as plt
from pylab import bar, show, plot

In [2]:
# We are reading the csv and printing it out
df = pd.read_csv('data_conn.csv', parse_dates=['Date'], index_col='Date')
df.head()

,State,COVID-19 PCR tests reported,Total cases,Confirmed cases,Probable cases,Hospitalized cases,Total deaths,Confirmed deaths,Probable deaths,cases_age0_9,cases_age10_19,cases_age20_29,cases_age30_39,cases_age40_49,cases_age50_59,cases_age60_69,cases_age70_79,cases_age80_Older
Date,,,,,,,,,,,,,,,,,,
2020-05-21,CONNECTICUT,202328.0,39640,NaN,NaN,740,3637,NaN,NaN,421,966,4417,5505,5619,6922,5845,3881,5947
2020-05-22,CONNECTICUT,208367.0,40022,NaN,NaN,724,3675,NaN,NaN,436,981,4479,5563,5674,6974,5882,3905,5992
2020-05-23,CONNECTICUT,214136.0,40468,NaN,NaN,701,3693,NaN,NaN,446,992,4532,5636,5723,7027,5916,3961,6100
2020-05-24,CONNECTICUT,221726.0,40873,NaN,NaN,706,3742,NaN,NaN,459,1016,4590,5705,5788,7087,5971,3995,6147
2020-04-27,CONNECTICUT,90746.0,25997,NaN,NaN,1758,2012,NaN,NaN,188,523,2750,3614,3885,4796,4011,2501,3498

In [3]:
# Shows the data types
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 119 entries, 2020-05-21 to 2020-07-28
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State                        119 non-null    object
 1   COVID-19 PCR tests reported  113 non-null    float64
 2   Total cases                  119 non-null    int64
 3   Confirmed cases              51 non-null     float64
 4   Probable cases               51 non-null     float64
 5   Hospitalized cases           119 non-null    int64
 6   Total deaths                 119 non-null    int64
 7   Confirmed deaths             51 non-null     float64
 8   Probable deaths              51 non-null     float64
 9   cases_age0_9                 119 non-null    int64
 10  cases_age10_19               119 non-null    int64
 11  cases_age20_29               119 non-null    int64
 12  cases_age30_39               119 non-null    int64
 13  cases_age40_49               119 non-null    int64
 14  cases_age50_59               119 non-null    int64
 15  cases_age60_69               119 non-null    int64
 16  cases_age70_79               119 non-null    int64
 17  cases_age80_Older            119 non-null    int64
dtypes: float64(5), int64(12), object(1)
memory usage: 17.7+ KB